@model List<Product>

@section Footer {
	<div>Only For Index Product Footer</div>
}

<div class="row">
	@foreach (Product product in Model)
	{
			<partial name="_ProductCard" model="@product"></partial>	
	}
</div>

